aniso8601
beautifulsoup4
certifi
charset-normalizer
click
Flask
Flask-Cors
Flask-RESTful
html5lib
idna
itsdangerous
Jinja2
lxml
MarkupSafe
numpy
pandas
python-dateutil
pytz
requests
six
soupsieve
urllib3
uWSGI
webencodings
Werkzeug
